/* Responsive container of the svg element */

.responsive-svg-container {

    width: 100%;

    max-width: 1000px;

}

@media screen and (max-width: 596px) {

    .responsive-svg-container {

        margin-bottom: 20px;

    }

}




.axis-label {

    font-family: 'Roboto', sans-serif;

    font-size: 14px;

    fill: #5a3e2b;
    /* Dark brown */

}


#filters_histogram,
#filters_scatterplot {
    margin-bottom: 12px;
}

#filters_histogram .filter,
#filters_scatterplot .filter {
    background-color: #d97706;
    color: white;
    border: none;
    padding: 6px 16px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

#filters_histogram .filter.active,
#filters_scatterplot .filter.active {
    background-color: #fde68a;
    color: #b45309;
}

/* Code based on Dufour and Meeks (2024) */